
.bg-model{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.78);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.model-content{
    width: 450px;
    height: 500px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    padding: 20px;
    position: relative;
}

input{
    display: block;
    margin: 20px auto;
    width: 70%;
    
}

.button{
    padding: 2%;
    cursor: pointer;
}

.close{
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}